## Take cumulative data and turn it into non-cumulative data

In [181]:
# Imports
import pandas as pd
import numpy as np

In [182]:
pwd

'/Users/paul/Desktop/TU/1datascience/groupwork/DataAnalysis/Big_DF'

In [212]:
# Call desired data
df_meta = pd.read_csv('Indicators_metadata.csv')
source_name = 'prevc_icapw'
df = pd.read_csv('old_result_df/' + source_name + '.csv', index_col=0)  # index_col=0 reads without 'Unnamed: 0'
df

          Country  Years  Renewable Energy Wind  (Installed capacity) MW
0   United States   2000                                         2377.00
1         Germany   2000                                         6095.00
2           China   2000                                          341.00
3           India   2000                                         1267.00
4   United States   2001                                         3864.00
..            ...    ...                                             ...
75          India   2018                                        35288.10
76  United States   2019                                       103584.20
77        Germany   2019                                        60822.00
78          China   2019                                       210478.38
79          India   2019                                        37505.18

[80 rows x 3 columns]

In [215]:
# call metadata of the indicator
# df_meta
list(df.columns)

['Country', 'Years', 'Renewable Energy Wind  (Installed capacity) MW']

In [216]:
# get the indicator column
minus = df['Renewable Energy Wind  (Installed capacity) MW']

# append 4 zeros(number of countries) 
s1 = pd.Series([0,0,0,0])
minus = s1.append(minus)

# create numpy array out of series
x = minus.array
x

<PandasArray>
[               0.0,                0.0,                0.0,
                0.0,             2377.0,             6095.0,
              341.0,             1267.0,             3864.0,
             8754.0,              383.0,             1456.0,
             4417.0,            12001.0,              449.0,
             1702.0,             5995.0,            14381.0,
              547.0,             2125.0,             6456.0,
            16419.0,              763.0,             3000.0,
             8706.0,            18248.0,             1060.0,
             4433.9,            11329.0,            20474.0,
             2070.0,             6315.0,            16515.0,
            22116.0,             4200.0,             7844.5,
            24651.0,            22794.0,  8387.728000000001,
            10242.5,            34296.0,            25732.0,
          17599.408,            10925.0,            39135.0,
            26903.0,          29633.478,            13184.0,
            45676.0,            28712.0,            46354.6,
            16179.0,            59075.0,            30979.0,
          61596.873,            17299.7,            59973.0,
            33477.0,           76730.53,            18420.4,
            64232.0,            38614.0,           96819.13,
            22465.3,           72573.02,            44580.0,
          131047.73,           25088.19,            81286.0,
            49435.0,          148516.89,           28700.44,
            87597.0,            55580.0, 164374.47699999998,
           32848.46,            94417.4,            58843.0,
         184664.877,            35288.1,           103584.2,
            60822.0,          210478.38,           37505.18]
Length: 84, dtype: float64

In [217]:
# delete last 4 entries(number of countries)
y = x[:-4]

# build series from np.array
s = pd.Series(y)
s

0          0.000
1          0.000
2          0.000
3          0.000
4       2377.000
         ...
75     32848.460
76     94417.400
77     58843.000
78    184664.877
79     35288.100
Length: 80, dtype: float64

In [218]:
# add series to df
df['minus'] = s
df

,Country,Years,Renewable Energy Wind (Installed capacity) MW,minus
0,United States,2000,2377.00,0.000
1,Germany,2000,6095.00,0.000
2,China,2000,341.00,0.000
3,India,2000,1267.00,0.000
4,United States,2001,3864.00,2377.000
...,...,...,...,...
75,India,2018,35288.10,32848.460
76,United States,2019,103584.20,94417.400
77,Germany,2019,60822.00,58843.000
78,China,2019,210478.38,184664.877
79,India,2019,37505.18,35288.100

In [219]:
# subtract the two rows from another, and by this make the cumulative data non-cumulative
df['Renewable Energy Wind  (Installed capacity) MW'] = df['Renewable Energy Wind  (Installed capacity) MW'] - df['minus']
df

,Country,Years,Renewable Energy Wind (Installed capacity) MW,minus
0,United States,2000,2377.000,0.000
1,Germany,2000,6095.000,0.000
2,China,2000,341.000,0.000
3,India,2000,1267.000,0.000
4,United States,2001,1487.000,2377.000
...,...,...,...,...
75,India,2018,2439.640,32848.460
76,United States,2019,9166.800,94417.400
77,Germany,2019,1979.000,58843.000
78,China,2019,25813.503,184664.877
79,India,2019,2217.080,35288.100

In [220]:
# delete the column to subtract
del df['minus']
df

          Country  Years  Renewable Energy Wind  (Installed capacity) MW
0   United States   2000                                        2377.000
1         Germany   2000                                        6095.000
2           China   2000                                         341.000
3           India   2000                                        1267.000
4   United States   2001                                        1487.000
..            ...    ...                                             ...
75          India   2018                                        2439.640
76  United States   2019                                        9166.800
77        Germany   2019                                        1979.000
78          China   2019                                       25813.503
79          India   2019                                        2217.080

[80 rows x 3 columns]

In [221]:

# save the updated df. '_NC' postfix stands for non-cumulative
df.to_csv('result_df/'+ source_name +'_NC.csv')

In [ ]:
# in case you want to go for each country seperately start like this...
us = df.loc[df['Country'] == "United States"]
us